{{!< default}}

{{#post}}
    <div id="blue" style="background: url({{#if image}}{{image}}{{/if}}{{^if image}}{{asset 'img/header-bg.jpg'}}{{/if}});">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4>{{title}}</h4>
                    <p>By <h5>{{author.name}}</h5> {{#if twitter}}<i class="fa fa-twitter"></i> <small>{{twitter}}</small>{{/if}}</p>
                    <p><time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time></p>
                    <p>{{body}}</p>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!--  bluewrap -->

    <div class="container w">
        <div class="row centered">
            <div class="col-lg-12 text-justify">
                {{content}}
            </div><!-- col-lg-12 -->
        </div>
    </div>

{{/post}}