{{!< default}}

<div id="blue">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>WE WORK HARD TO ACHIEVE EXCELLENCE</h4>
                <p>AND WE ARE HAPPY TO DO IT</p>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!--  bluewrap -->


<div class="container desc">
    {{#foreach posts}}
        <div class="row {{post_class}}">
            <br><br>
            <div class="col-lg-6 centered">
                <img src="{{image}}" width="100%" alt="">
            </div><!-- col-lg-6 -->
            <div class="col-lg-6">
                <a href="{{url}}"><h4>{{title}}</h4></a>
                <p>{{excerpt words="50"}}<a class="read-more" href="{{url}}">...</a> </p>
            </div>
        </div><!-- row -->
    {{/foreach}}
    <br><br>
    {{!-- Previous/next page links - displayed on every page --}}
    <div class="pagination-bg">
        {{pagination}}
    </div>
</div><!-- container -->


<div id="r">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>WE ARE STORYTELLERS. BRANDS ARE OUR SUBJECTS. DESIGN IS OUR VOICE.</h4>
                <p>We believe ideas come from everyone, everywhere. At BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design.</p>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><! -- r wrap -->

