{{!< default}}

<!-- Section Intro Slider
================================================== -->
<div id="carousel-example-generic" class="carousel intro slide">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <!-- First slide -->
        <div class="item active" style="background-image:url({{asset 'img/children.jpg'}});opacity: .75;">
            <div class="carousel-caption">
                <h2 data-animation="animated bounceInDown">
                    {{@blog.title}} </h2>
                <h1 data-animation="animated bounceInUp">
                    {{@blog.title}} </h1>
                <a href="#" class="btn btn-ghost btn-lg" data-animation="animated fadeInLeft">Start Tour</a><a href="#" class="btn btn-primary btn-lg" data-animation="animated fadeInRight">Learn More</a>
            </div>
        </div>
        <!-- /.item -->
    </div>
    <!-- /.carousel-inner -->
</div>
<!-- /.carousel -->
<!-- Section About
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">WHAT WE STAND FOR<br/>& OUR <b>PRINCIPLES</b></h2>
                <hr>
                <p>
                    Save Our Youth Zambia Foundation (SOYZ) is a youth assistance and empowering foundation serving disadvantaged, special needs children and youth adults in Zambia.
                    We stand for the rights, welfare and development of our target population. SOYZ aims to provide the tools necessary for the creative development and empowerment of our
                    disadvantaged youth through tailor made program to fit each individuals need, ranging from entrepreneurship skills training, mentorship and financial support for
                    them to start up small businesses in their communities.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Section after about
================================================== -->
<section class="no-padding">
    <div class="equal-heights w-middle">
        <div class="col-md-4 bg-primary">
            <div class="box">
                <h2>Make a Difference</h2>
                <p>
                    We endeavors to prepare, engage and assists youths to own their own businesses.
                </p>
                <a href="#" class="btn btn-round btn-white btn-xl">Get Involved!</a>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{{asset 'img/zambia_children_learn.jpg'}}" alt="">
        </div>
        <div class="col-md-4 bg-dark">
            <div class="box">
                <h2>Our Standpoint</h2>
                <p>
                    SOYZ believes that a just society is a pre – requisite for human development... Every human person deserves to live a dignified and quality life
                </p>
            </div>
        </div>
    </div>
</section>
<div class="clearfix">
</div>

<!-- Section Services
================================================== -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">OUR <b>FOCUS</b></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- begin 1st row -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-primary">
                        <i class="fa fa-2x fa-book wow bounceIn text-fade"></i>
                    </div>
                    <h3>Education</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-dark">
                        <i class="fa fa-2x fa-money wow bounceIn text-fade" data-wow-delay=".1s"></i>
                    </div>
                    <h3>Entrepreneurship</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-primary">
                        <i class="fa fa-2x fa-newspaper-o wow bounceIn text-fade" data-wow-delay=".2s"></i>
                    </div>
                    <h3>Social Development</h3>
                </div>
            </div>
        </div>
        <!-- end 1st row -->
        <br/>
        <div class="row">
            <!-- begin 2nd row -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-primary">
                        <i class="fa fa-2x fa-legal wow bounceIn text-fade" data-wow-delay=".1s"></i>
                    </div>
                    <h3>Advocacy</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-dark">
                        <i class="fa fa-2x fa-gamepad wow bounceIn text-fade"></i>
                    </div>
                    <h3>Sports and Recreation</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-primary">
                        <i class="fa fa-2x fa-deviantart wow bounceIn text-fade"></i>
                    </div>
                    <h3>Arts and Cultural Exchange</h3>
                </div>
            </div>
        </div>
        <!-- end 2nd row -->
    </div>
</section>
<div class="clearfix">
</div>

<!-- Section Social
================================================== -->
<section id="social" class="parallax parallax-image" style="background-image:url('{{asset 'img/youths.jpg'}}');">
    <div class="overlay" style="background:#222;opacity:0.5;">
    </div>
    <div class="wrapsection">
        <div class="container">
            <div class="parallax-content">
                <div class="row wow fadeInLeft">
                    <div class="col-md-4">
                        <div class="funfacts text-center">
                            <div class="icon">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                            <h4>Twitter</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="funfacts text-center">
                            <div class="icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </div>
                            <h4>Facebook</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="funfacts text-center">
                            <div class="icon">
                                <a href="#"><i class="fa fa-google"></i></a>
                            </div>
                            <h4>Google</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix">
</div>

<!-- Section Contact
================================================== -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading">CONTACT <b>US</b></h2>
                <hr class="primary">
                <p>

                </p>
                <div class="regularform">
                    <div class="done">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            Your message has been sent. Thank you!
                        </div>
                    </div>
                    <form method="post" action="contact.php" id="contactform" class="text-left">
                        <input name="name" type="text" class="col-md-6 norightborder" placeholder="Your Name *">
                        <input name="email" type="email" class="col-md-6" placeholder="E-mail address *">
                        <textarea name="comment" class="col-md-12" placeholder="Message *"></textarea>
                        <input type="submit" id="submit" class="contact submit btn btn-primary btn-xl" value="Send message">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
